.box-1{
    width: 100px;
        height: 100px;
        background-color: red;
        z-index: 2;
}

.box-2{
        width: 100px;
            height: 100px;
            background-color: blue;
            position: relative;
            left: 40px;
            z-index: 3;
            bottom: 40px;
}

.box-3{
        width: 100px;
            height: 100px;
            z-index: 1;
            position: relative;
            left: 80px;
            bottom: 80px;
            background-color: greenyellow;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    padding: 15px;
    background-color: skyblue;
    transform: translate(-50%, -50%);
}

.btn:hover{
    color: blue;
    background-color: aqua;
}